@inherits LayoutComponentBase

<div class="h-screen bg-gray-50">
    
    <NavMenu />

    <main class="py-10 lg:pl-72">
        <div class="px-4 sm:px-6 lg:px-8">
            @Body
        </div>
    </main>
</div>